<ion-header>
    <ion-toolbar>
      <ion-icon class="header-back-btn" name="arrow-back" slot="start" (click)="displayPrevious()"></ion-icon>
      <ion-title>Blog List</ion-title>
      <ion-icon class="header-share-btn" name="share-alt" slot="end"></ion-icon>
      <ion-icon class="header-search-btn" name="search" slot="end"></ion-icon>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <div class="blog-header-img">
    <img src="../../../assets/img/blogs/blog_1.png" />
  </div>
<div class="ss">
  <div class="blog-content-part">
    <ion-card>
      <ion-card-content>
        <div class="blog-content-title">
            NUS Department of Economic PhD scholarships in Singapore, 2020
        </div>

        <div class="blog-content-date">
          November 5, 2013
        </div>

        <div class="blog-content-content">
            The opportunities for students intending to visit and study  in Germany are endless. The country’s home to around 300 education institutions with more than 15,000 different study programs. To make it easier for international students to enroll in some of those programs, the government and universities have created informational websites and web portals (https://www.study-in.de/en/).
        </div>

        <div class="blog-content-subtitle">
            Be clear about your educational goals before applying for a visa
        </div>

        <div class="blog-content-subcontent">
            Before even starting the visa process, know what your goals are. Do you want to take a short course? Do you want to stay longer and get a degree in Germany? This is important because there are different visas depending on your goals.
        </div>

        <div class="blog-content-subtitle">
            A VISA for every student
        </div>

        <div class="blog-content-subcontent">
            Securing a visa is one of the most important first steps for prospective students from abroad. Germany offers a few different types of student visas, all available by applying through the German embassy or consulate in your home country. Make sure to do this before coming to Germany.
        </div>

      </ion-card-content>
    </ion-card>
  </div>

  <div class="blog-view-other">
    <button class="blog-view-before"><ion-icon src="../../../assets/img/blog-arrow-left-icon.svg"></ion-icon>previous</button>
    <button class="blog-view-next">next<ion-icon src="../../../assets/img/blog-arrow-right-icon.svg"></ion-icon></button>
  </div>

  <div class="blog-comments-title">
    <ion-icon src="../../../assets/img/blog-comment-icon.svg"></ion-icon>
    <ion-label> 3 Comments</ion-label>
  </div>

  <div class="blog-list-part">
    <ion-card>
      <ion-list>
        <ion-item lines="full" class="blog-item" *ngFor="let sblog of blogsimpledata">
          <div>
            <ion-item lines="none" class="blog-simple-header">
                <ion-avatar slot="start">
                  <img src="{{sblog.image}}">
                </ion-avatar>
                <ion-label>
                  <h2>{{sblog.userid}}</h2>
                  <p>{{sblog.date}}</p>
                </ion-label>
            </ion-item>
            <div class="blog-simple-content">
              {{sblog.simplecontent}}
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

  <div class="blog-comments-title">
    <ion-icon src="../../../assets/img/blog-add-comment-icon.svg"></ion-icon>
    <ion-label> Add Comment</ion-label>
  </div>

  <div class="blog-add-part">
    <ion-card>
      <div class="blog-add-input">
        <ion-textarea class="blog-add-textarea" rows='6'></ion-textarea>
        <button class="blog-add-btn">Add Comment</button>
      </div>
    </ion-card>
  </div>
</div>
</ion-content>
