ion-header ion-icon{
    color:#197CDD;
    width:25px;
    height:25px;
}

ion-title {
    font-family: 'SF-Pro-Display-Regular';
    font-size:16px;
    color:#3D4452;
}

.header-back-btn {
    padding-left: 16px;
}

.header-search-btn {
    padding-right:15px;
    padding-left:20px;
}

ion-content {
    --background: #F7FAFD;
}

.blog-header-img img {
    width:100%;
    height: 223px;
    border-radius: 0 10px 10px 0;
}

.blog-content-part {
    background:#fff;
}

.blog-content-title {
    font-family: 'SF-Pro-Text-Bold';
    font-size:16px;
    line-height: 170%;
    color:#171A1F;

    margin-bottom: 10px;
}

.blog-content-date {
    font-family: 'SF-Pro-Text-Light';
    font-size:13px;
    line-height: 120%;
    color:#94A1B0;

    margin-bottom: 17px;
}

.blog-content-content {
    font-family: 'SF-Pro-Text-Regular';
    font-size:14px;
    line-height: 180%;
    color:#3D4452;

    margin-bottom: 19px;
}

.blog-content-subtitle {
    font-family: 'SF-Pro-Text-Bold';
    font-size:14px;
    line-height: 150%;
    color:#171A1F;

    margin-bottom: 13px;
}

.blog-content-subcontent {
    font-family: 'SF-Pro-Text-Regular';
    font-size:14px;
    line-height: 180%;
    color:#3D4452;

    margin-bottom: 25px;
}

.blog-view-other {
    display: flex;
    justify-content: space-evenly;
}

.blog-view-other button {
    display: flex;
    align-items: center;
    justify-content: center;

    width:168px;
    height:48px;
    font-family: 'SF-Pro-Display-Regular';
    font-size:16px;
    line-height: 120%;
    color: #3D4452;
    background: #fff;
    box-shadow: 0px 10px 20px rgba(5, 66, 125, 0.05);
    border-radius: 10px;
}

.blog-view-before ion-icon{
    margin-right:15px;
}

.blog-view-next ion-icon{
    margin-left:15px;
}

.blog-view-other ion-icon {
    width:20px;
    height:15px;
    color:#197CDD !important;
}

.blog-comments-title {
    margin-left:16px;

    font-family: 'SF-Pro-Text-Bold';
    font-size: 16px;
    line-height: 170%;
    color:#171A1F;
    margin-top:28px;
}

.blog-comments-title ion-icon {
    width:20px;
    height:20px;
    vertical-align: middle;
}

.blog-add-part ion-card {
    background:#fff;
    margin-top:10px;
}
.blog-add-input {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.blog-add-textarea {
    color:#3D4452;
    font-family: 'SF-Pro-Text-Light';
    font-size: 14px;
    line-height: 140%;
    padding: 10px 12px 10px 20px;
}

.blog-add-btn {
    width:296px;
    height: 48px;
    background: #197CDD;
    box-shadow: 0px 4px 12px rgba(39, 140, 239, 0.2);
    border-radius: 10px;
    
    color:#fff;
    font-family: 'SF-Pro-Display-Regular';
    font-size: 16px;
    line-height: 120%;

    margin-bottom:24px;
}

.blog-item {
    --border-color:#ddd;
    .blog-simple-header {
        margin-top:24px;
    }
    ion-avatar{
        width:48px;
        height: 48px;
    }
    h2 {
        font-family: 'SF-Pro-Display-Bold';
        font-size: 14px;
        line-height: 150%;
        color: #171A1F;
    }
    p {
        font-family: 'SF-Pro-Text-Light';
        font-size: 13px;
        line-height: 120%;
        color: #94A1B0;
    }
    .blog-simple-content {
        font-family: 'SF-Pro-Text-Light';
        font-size: 14px;
        line-height: 180%;
        color: #3D4452;
        padding-left:8px;
        padding-right: 16px;
        margin-bottom: 15px;
    }
}