<ion-header>
  <ion-toolbar class="p-s-15 p-e-15">
    <div class="searchbar-div d-flex">
      <ion-searchbar class="ss-searchbar p-0 bg-white f-s-14" placeholder="Search university, scholarships or country"></ion-searchbar>
      <ion-label class="f-s-13 color-blue m-r-12 f-f-pro-text-regular" (click)="displayMain()">Cancel</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list>
      <ion-item class="bg-transparent border-item p-i-e-0 p-e-15" lines="full">
        <ion-label class="f-s-16 color-black f-f-pro-text-bold">Filters</ion-label>
        <ion-label class="f-s-13 color-blue d-inherit f-f-pro-text-medium">Clear All Filters</ion-label>
      </ion-item>

      <ion-item class="bg-transparent border-item p-i-e-0 p-e-15" lines="full">
        <ion-label class="color-filter f-s-14 f-f-pro-text-regular">Eligible Nationality</ion-label>
        <div class="filter-content">
          <ion-label class="filter-content color-content f-s-13 d-inherit f-f-pro-text-regular">India,China</ion-label>
        </div>
      </ion-item>

      <ion-item class="bg-transparent border-item p-i-e-0 p-e-15" lines="full" (click)="displayFilterDetail()">
        <ion-label class="color-filter f-s-14 f-f-pro-text-regular">Awarding Country</ion-label>
        <div class="filter-content">
          <ion-label class="filter-content color-content f-s-13 d-inherit f-f-pro-text-regular">USA,UK,Canada</ion-label>
        </div>
      </ion-item>

      <ion-item class="bg-transparent border-item p-i-e-0 p-e-15" lines="full">
        <ion-label class="color-filter f-s-14 f-f-pro-text-regular">Degree Level</ion-label>
        <div class="filter-content">
          <ion-label class="color-content f-s-13 d-inherit f-f-pro-text-regular">Bachelor</ion-label>
        </div>
      </ion-item>

      <ion-item class="bg-transparent border-item p-i-e-0 p-e-15" lines="full">
        <ion-label class="color-filter f-s-14 f-f-pro-text-regular">Subjects</ion-label>
        <div class="filter-content">
          <ion-label class="color-content f-s-13 d-inherit ion-text-wrap f-f-pro-text-regular">Nanotechnology,Music,Migration,Economics,Economics</ion-label>
        </div>
      </ion-item>

      <ion-item class="bg-transparent border-item p-i-e-0 p-e-15" lines="none">
        <ion-label class="color-filter f-s-14 f-f-pro-text-regular">Expiration Date</ion-label>
        <ion-label class="color-content f-s-13 d-inherit f-f-pro-text-regular">{{exp_start_date + " - " + exp_end_date + " days"}}</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-range dualKnobs="true" min="10" max="72" step="3" pin="true" [(ngModel)]="knobValues" (ngModelChange)="rangeChanged($event)"></ion-range>
      </ion-item>

    </ion-list>

    <ion-button expand="block" class="btn-search  f-f-pro-display-regular" (click)="displayScolarships()">Search</ion-button>
  
  </div>
</ion-content>
