ion-header {
    box-shadow: 0px 10px 15px rgba(5, 66, 125, 0.03);
}
ion-content {
    --background: #F7FAFD;
}

ion-list ion-item {
    --padding-top: 5px !important;
    --padding-bottom: 5px !important;
}
.color-filter {
    color: #3D4452 !important;
    --color: #3D4452 !important;
}
.color-content {
    color: #94A1B0 !important;
    --color: #94A1B0 !important;
}
.border-item {
    --border-color: #94a1b055 !important;
}

ion-range {
    --bar-background: #CAD6E3;
    --bar-background-active: #197CDD;
    --bar-height: 6px;
    --bar-border-radius: 3px;
    --knob-background: #278CEF;
}

.btn-search {
    width: calc(100vw - 30px);
    position: absolute;
    bottom: 24px;
    left: 15px;
}
ion-toolbar .toolbar-container {
    padding-inline-end: 16px !important;
}

.searchbar-div {
    align-items: center;
    height: 56px !important;
    
    ion-searchbar.ss-searchbar {
        border: 1px solid #CAD6E3 !important;
        border-radius: 6px !important;
        height: 36px;
        --placeholder-color: #CAD6E3;
        --placeholder-opacity: 1 !important;

        input.searchbar-input {
            font-size: 14px !important;
        }
    }
}

.filter-content {
    text-align: right !important;
    width: 50vw !important;
    height: 14px;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}

ion-range {
    padding-top: 0 !important;
}
