// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

// sinbad customization
:root {
  // ss-blue
  --ion-color-ss-blue: #197CDD;;
  --ion-color-ss-blue-rgb: 25,124,221;
  --ion-color-ss-blue-contrast: #ffffff;
  --ion-color-ss-blue-contrast-rgb: 255,255,255;
  --ion-color-ss-blue-shade: #166dc2;
  --ion-color-ss-blue-tint: #3089e0;
  // ss-blue-light
  --ion-color-ss-blue-light: #31A5F9;;
  --ion-color-ss-blue-light-rgb: 49,165,249;
  --ion-color-ss-blue-light-contrast: #000000;
  --ion-color-ss-blue-light-contrast-rgb: 0,0,0;
  --ion-color-ss-blue-light-shade: #2b91db;
  --ion-color-ss-blue-light-tint: #46aefa;
  // ss-white
  --ion-color-ss-white: #ffffff;
  --ion-color-ss-white-rgb: 255,255,255;
  --ion-color-ss-white-contrast: #197CDD;
  --ion-color-ss-white-contrast-rgb: 25,124,221;
  --ion-color-ss-white-shade: #e0e0e0;
  --ion-color-ss-white-tint: #ffffff;
  // ss-facebook
  --ion-color-ss-facebook: #3B5998;
  --ion-color-ss-facebook-rgb: 59,89,152;
  --ion-color-ss-facebook-contrast: #ffffff;
  --ion-color-ss-facebook-contrast-rgb: 255,255,255;
  --ion-color-ss-facebook-shade: #344e86;
  --ion-color-ss-facebook-tint: #4f6aa2;
  // ss-google
  --ion-color-ss-google: #CD1E1E;
  --ion-color-ss-google-rgb: 205,30,30;
  --ion-color-ss-google-contrast: #ffffff;
  --ion-color-ss-google-contrast-rgb: 255,255,255;
  --ion-color-ss-google-shade: #b41a1a;
  --ion-color-ss-google-tint: #d23535;
}

.ion-color-ss-google {
  --ion-color-base: var(--ion-color-ss-google);
  --ion-color-base-rgb: var(--ion-color-ss-google-rgb);
  --ion-color-contrast: var(--ion-color-ss-google-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ss-google-contrast-rgb);
  --ion-color-shade: var(--ion-color-ss-google-shade);
  --ion-color-tint: var(--ion-color-ss-google-tint);
}

.ion-color-ss-facebook {
  --ion-color-base: var(--ion-color-ss-facebook);
  --ion-color-base-rgb: var(--ion-color-ss-facebook-rgb);
  --ion-color-contrast: var(--ion-color-ss-facebook-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ss-facebook-contrast-rgb);
  --ion-color-shade: var(--ion-color-ss-facebook-shade);
  --ion-color-tint: var(--ion-color-ss-facebook-tint);
}

.ion-color-ss-white {
  --ion-color-base: var(--ion-color-ss-white);
  --ion-color-base-rgb: var(--ion-color-ss-white-rgb);
  --ion-color-contrast: var(--ion-color-ss-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ss-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-ss-white-shade);
  --ion-color-tint: var(--ion-color-ss-white-tint);
}

.ion-color-ss-blue {
  --ion-color-base: var(--ion-color-ss-blue);
  --ion-color-base-rgb: var(--ion-color-ss-blue-rgb);
  --ion-color-contrast: var(--ion-color-ss-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ss-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-ss-blue-shade);
  --ion-color-tint: var(--ion-color-ss-blue-tint);
}

.ion-color-ss-blue-light {
  --ion-color-base: var(--ion-color-ss-blue-light);
  --ion-color-base-rgb: var(--ion-color-ss-blue-light-rgb);
  --ion-color-contrast: var(--ion-color-ss-blue-light-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ss-blue-light-contrast-rgb);
  --ion-color-shade: var(--ion-color-ss-blue-light-shade);
  --ion-color-tint: var(--ion-color-ss-blue-light-tint);
}

.swiper-pagination {
  bottom: 27px !important;
}


@font-face {
  font-family: 'SF-Pro-Display-Black';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Display-Black.otf');
}

@font-face {
  font-family: 'SF-Pro-Display-BlackItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Display-BlackItalic.otf');
}

@font-face {
  font-family: 'SF-Pro-Display-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Display-Bold.otf');
}

@font-face {
  font-family: 'SF-Pro-Display-BoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Display-BoldItalic.otf');
}

@font-face {
  font-family: 'SF-Pro-Display-Heavy';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Display-Heavy.otf');
}

@font-face {
  font-family: 'SF-Pro-Display-HeavyItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Display-HeavyItalic.otf');
}

@font-face {
  font-family: 'SF-Pro-Display-Light';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Display-Light.otf');
}

@font-face {
  font-family: 'SF-Pro-Display-LightItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Display-LightItalic.otf');
}

@font-face {
  font-family: 'SF-Pro-Display-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Display-Medium.otf');
}

@font-face {
  font-family: 'SF-Pro-Display-MediumItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Display-MediumItalic.otf');
}

@font-face {
  font-family: 'SF-Pro-Display-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Display-Regular.otf');
}

@font-face {
  font-family: 'SF-Pro-Display-RegularItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Display-RegularItalic.otf');
}

@font-face {
  font-family: 'SF-Pro-Display-Semibold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Display-Semibold.otf');
}

@font-face {
  font-family: 'SF-Pro-Display-SemiboldItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Display-SemiboldItalic.otf');
}

@font-face {
  font-family: 'SF-Pro-Display-Thin';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Display-Thin.otf');
}

@font-face {
  font-family: 'SF-Pro-Display-ThinItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Display-ThinItalic.otf');
}

@font-face {
  font-family: 'SF-Pro-Display-Ultralight';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Display-Ultralight.otf');
}

@font-face {
  font-family: 'SF-Pro-Display-UltralightItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Display-UltralightItalic.otf');
}

@font-face {
  font-family: 'SF-Pro-Text-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Text-Bold.otf');
}

@font-face {
  font-family: 'SF-Pro-Text-BoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Text-BoldItalic.otf');
}

@font-face {
  font-family: 'SF-Pro-Text-Heavy';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Text-Bold.otf');
}

@font-face {
  font-family: 'SF-Pro-Text-HeavyItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Text-BoldItalic.otf');
}

@font-face {
  font-family: 'SF-Pro-Text-Light';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Text-Light.otf');
}

@font-face {
  font-family: 'SF-Pro-Text-LightItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Text-LightItalic.otf');
}

@font-face {
  font-family: 'SF-Pro-Text-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Text-Medium.otf');
}

@font-face {
  font-family: 'SF-Pro-Text-MediumItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Text-MediumItalic.otf');
}

@font-face {
  font-family: 'SF-Pro-Text-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Text-Regular.otf');
}

@font-face {
  font-family: 'SF-Pro-Text-RegularItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Text-RegularItalic.otf');
}

@font-face {
  font-family: 'SF-Pro-Text-SemiboldItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-Pro-Text-SemiboldItalic.otf');
}

@font-face {
  font-family: 'SF-UI-Display-Black';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-UI-Display-Black.ttf');
}

@font-face {
  font-family: 'SF-UI-Display-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-UI-Display-Bold.ttf');
}

@font-face {
  font-family: 'SF-UI-Display-Heavy';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-UI-Display-Heavy.ttf');
}

@font-face {
  font-family: 'SF-UI-Display-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-UI-Display-Medium.ttf');
}

@font-face {
  font-family: 'SF-UI-Display-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-UI-Display-Regular.ttf');
}

@font-face {
  font-family: 'SF-UI-Display-Semibold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-UI-Display-Semibold.ttf');
}

@font-face {
  font-family: 'SF-UI-Display-Thin';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-UI-Display-Thin.ttf');
}

@font-face {
  font-family: 'SF-UI-Display-Ultralight';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-UI-Display-Ultralight.ttf');
}

@font-face {
  font-family: 'SF-UI-Text-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-UI-Text-Bold.ttf');
}

@font-face {
  font-family: 'SF-UI-Text-HeavyItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-UI-Text-HeavyItalic.ttf');
}

@font-face {
  font-family: 'SF-UI-Text-Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-UI-Text-Italic.ttf');
}

@font-face {
  font-family: 'SF-UI-Text-Light';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-UI-Text-Light.ttf');
}

@font-face {
  font-family: 'SF-UI-Text-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-UI-Text-Medium.ttf');
}

@font-face {
  font-family: 'SF-UI-Text-MediumItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-UI-Text-MediumItalic.ttf');
}

@font-face {
  font-family: 'SF-UI-Text-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-UI-Text-Regular.ttf');
}

@font-face {
  font-family: 'SF-UI-Text-Semibold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SF-UI-Text-Semibold.ttf');
}