.splash-bg {
    background: url("../../../assets/img/splash-bg.png") no-repeat center bottom;
    background-size: 100% 100%;
    width: 100%;
    height: 78.7%;
    position: absolute;
    bottom: 0;
}
.splash-sky {
    width: 100%;
    height: 59%;
    background: #fff linear-gradient(180deg, #278CEF 0%, #8AF7FC 79.17%);
    padding-top: 33%;
    .ads {
        width: 296px;
        height: 96px;
        margin: auto;
        position: relative;
        .ads-rectangle {
            height: 100%;
            width: 100%;
            border-radius: 15px;
            opacity: 0.4;
            background: #197CDD;
        }
        .ads-container {
            position: absolute;
            top: 0;
            width: 100%;
            padding: 23px 23px 0 27px;
            color: white;
            display: flex;
            justify-content: space-between;
            .ads-icon {
                opacity: 1;
                width: 48.38px;
                height: 48.38px;
                background: #FFFFFF;
                border-radius: 8.7965px;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
            .ads-description {
                opacity: 1;
                .ads-title {
                    font-family: Sunflower;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 25.5099px;
                    // line-height: 140.62%;
                }
                .ads-content {
                    font-family: Arial;
                    font-size: 12.491px;
                    // line-height: 140.62%;
                }
            }
        }
    }

}