ion-content {
    --background: #f7fafd;
}

.card-small {
    width: 128px;
    height: 128px;
    box-shadow: 0px 10px 20px rgba(5, 66, 125, 0.05);
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}


.main-sky {
    width: 100vw;
    height: 192px;
    background: linear-gradient(180deg, #278CEF 0%, #8AF7FC 23%);
    // background-attachment: fixed;
    ion-item.searchbar {
        --color: #cad6e3;
        position: fixed;
        width: calc(100vw - 30px);
        left: 15px;
        border-radius: 6px;
        top: 30px;
        z-index: 99 !important;
    }
}

.main-bg {
    width: 100vw;
    height: 326px;
    position: absolute;
    // top: 30px;
    margin-top: -162px;
    background: url("../../../assets/img/home_bg.png") no-repeat center;
    background-size: contain;
}

.ss-wrapper {
    position: absolute;
    width: 100vw;
    // height: calc(100vh - 303px);
    // overflow-y: auto;
    top: 253px;
}

ion-item.country.note {
    --background: transparent;
    --padding-end: 0px !important;
    --color: white;
    ion-label.subject {
        font-size: 18px;
    }
    ion-label.all {
        font-size: 13px;
        display: inherit;
    }
}

.country-div {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    height: 280px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100vw;
    overflow-x: auto;
    justify-content: space-evenly;
}
ion-card.card-small {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 8px;
    margin-top: 0;
    padding-top: 32px;
    .country-flag {
        // background: url('../../../assets/img/flags/uk.png');
        background-repeat: no-repeat !important;
        background-size: contain !important;
        width: 32px;
        height: 32px;
        margin:auto;
    }
    .country-name {
        padding-top: 20px;
        color: #94a1b0;
        font-size: 13px;
    }
}

.card-medium {
    width: 264px;
    height: 312px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 8px;
    margin-top: 0;
    box-shadow: 0px 10px 20px rgba(5, 66, 125, 0.05);
}
/***************************************************************************/
.national-div,
.degrees-div {
    height: 150px;
    width: 100vw;
}

.subjects-div {
    height: 280px;
    width: 100vw;
}

.universities-div,
.scholars-div {
    height: 320px;
    .uni-country {
        color: #3D4452;
    }
    .uni-count {
        color: #94A1B0;
    }
}

.scholars-div {
    .uni-country {
        height: 33px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.scholars-div {
    height: 360px !important;
}
.uni-img {
    width: 264px;
    height: 232px;
    background-size: cover !important;
    position: relative;
}
.uni-img::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-right: 264px solid transparent;
    border-bottom: 51px solid white;
    bottom: 0;
}